html {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    margin: 0 auto;
}

/* header */

.header {
    background-color: white;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.nav-list {
    align-items: center;
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 10px;
    margin: 0px;
}

/* hero */

.greetings {
    border: 2px solid green;
    color: white;
    margin-top: -60rem;
    margin-left: 10rem;
    width: 40%;
    height: 50%;
}

.greetings h1 {
    font-size: 4rem;
}

.greetings p {
    font-size: 2rem;
}

.hero-mask {
    margin-top: -28rem;
}

/*main*/

.main {
    display: flex;
    margin-top: 40rem;
    margin-left: 5rem;
    height: 50rem;
    width: 100%;
}

.main-image {
    width: 50%;
    height: 50%;
}

.more p {
    width: 70%;
}

